.Colors-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 15px 0 15px;
    background-color: rgba(196, 114, 101, 0.649);
    cursor: pointer;
}
.disabled{
    pointer-events: none;
    cursor: not-allowed;
}
.active-button{
    background-color: rgba(168, 98, 87, 0.786);
    animation: blinking 1s infinite alternate; 

}
@keyframes blinking {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}