.side-desktop{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.titleContainer{
    height: 20%;
    width: 100%;
    margin: 20px;
    text-align: center;
}
.titleContainer h1{
    font-size: 100px;
    background: linear-gradient( #d55636, #4e2201, #d55636, #4e2201);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titleContainer h2{
    font-size: 60px;
    background: linear-gradient(#4e2201, #d55636, #4e2201);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcomeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcomeContainer h3{
    margin: 20px;
    width: 70%;
    font-size: 20px;
}
button{
    width: 180px;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.gameStatusContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.buttonsContainer{
    display: flex;
}
.botAnswerContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
}