button{
    width: 180px;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.gameStatusContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.buttonsContainer{
    display: flex;
}