.resultContainer{
    display: grid;
    grid-template-rows: 30% 70%;
    background-color: rgba(157, 51, 34, 0.649);
    height: 25%;
    width: 90%;
    margin-bottom: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 16px rgba(195, 71, 53, 0.542);
}
.resultHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(196, 114, 101, 0.649);
    border-radius: 30px 30px 0 0;
    width: 100%;
}
.resultHeader h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    color: rgba(208, 208, 208, 0.979);
    text-shadow: -1px 3px 3px rgb(208, 208, 208);
}
.codedColorsContainer{
    display: flex;
    align-items: center;
    justify-content: center;

}
.color-result{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 20px 0 20px;
    background-color: rgba(196, 114, 101, 0.649); 
}