.accuracy-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    margin: 5px;
    border-radius: 15px;
}
.row-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}
.accuracy{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(196, 114, 101, 0.649);
}